/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
  margin: 0;
  padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
}

*{
    transition: 0.5s;
}

.container{
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1100px;
}

/***********************************NAV***************************************/
nav{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}

.nav-wrap{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrapper {
    text-align: center;
    display: inline-block;
}

nav h1{
  font-family: 'Oswald', sans-serif;
  font-size:20pt;
    margin: 0;
    text-transform: uppercase
    
}

.clip-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  background-image: #64b3f4;  /* fallback for old browsers */
background-image: -webkit-linear-gradient(to right, #c2e59c, #64b3f4, #c2e59c);
background-image: linear-gradient(to right, #c2e59c, #64b3f4, #c2e59c);

  -webkit-animation:50s scroll infinite linear;
  -moz-animation:50s scroll infinite linear;
  -o-animation:50s scroll infinite linear;
  -ms-animation:50s scroll infinite linear;
  animation:50s scroll infinite linear;
}

@-webkit-keyframes scroll{
  100%{
    background-position:1500px 0px;
  }
}
 
@-moz-keyframes scroll{
  100%{
    background-position:1500px 0px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:1500px 0px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:1500px 0px;
  }
}

@keyframes scroll{
  100%{
    background-position:1500px 0px;
  }
} 

nav ul{
    list-style: none;
    display: inline-block;
    float: right;
    margin-top: 7px;
}

nav ul li{
    transition: 0.5s;
    border-bottom: 2px solid #64b3f4;
}

nav ul li:hover{
    color: #64b3f4;
    transition: 0.5s;
}
/***********************************MAIN**************************************/

.main{
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.myPic, .myPic2{
    width: 40%;
    display: inline-block;
}

.myPic2{
    display: none;
}

.content{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-top: 50px;
    margin-left: 50px;
}

/**********************************SOCIAL*************************************/
.text-center-wrapper{
    text-align: center;
}
.social{
    display: inline-block;
}

.social .fa, .devpost{
    color: #64b3f4;
    margin: 0 7px;
    font-size: 40px;
    transition: 0.2s;
    vertical-align: top;
}

.social .fa:hover{
    font-size: 50px;
    transition: 0.2s;
}

.devpost{
    height: 40px;
}

.devpost:hover{
    height: 50px;
}


/**********************************FOOTER*************************************/
.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.footer span {
  color: #666;
  font-size: 16px;
  display: block;
  text-align: center;
}

.footer .fa {
  color: #E90606;
  margin: 0 3px;
  font-size: 16px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}

/*******************************MEDIA QUERIES**********************************/

@media only screen and (max-width: 966px) {
    .myPic{
        display: none;
    }
    .myPic2{
        display: block;
        width: 100%
    }
    .content{
        margin:0;
        width:100%;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
