/***********************************************************************/
/*                                                                     */
/*                              NAVBAR                                 */
/*                                                                     */
/***********************************************************************/

nav {
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: white;
    height: 80px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}

nav h1 {
    position: fixed;
    display: inline-block;
    width:180px;
    padding: 25px;
    margin: 0;
}

nav ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}

nav ul li{
    display: inline-block;
    padding: 31px;
}


/***********************************************************************/
/*                                                                     */
/*                             CONTENT                                 */
/*                                                                     */
/***********************************************************************/

.content {
    margin: 0 auto;
    padding-top:100px;
    max-width: 1100px;
}