///////////////////////////////////// VARS /////////////////////////////////////
$colors: #035aa6, #00909e, #40bad5, #fcbf1e;

$break-xsmall: 320px;
$break-small: 640px;
$break-medium: 1200px;
$break-large: 1400px;
$break-xlarge: 2048px;

$animate: all 0.1s ease-in-out;

///////////////////////////////////// GENERAL /////////////////////////////////////
::selection {
  background: nth($colors, 3); 
  color: white;
}

::-moz-selection {
  background: nth($colors, 3); 
  color: white;
}

.App {
  font-family: Roboto Mono, Sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  transition: $animate;
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 5px;
    transition: $animate;
    left: 0;
  }
  &:hover {
    &:before,
    &:after {
      width: 100%;
    }
  }
}

.content {
  max-width: $break-large;
  margin: 0 auto;
}

.icon {
  font-size: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: nth($colors, 2);
  &:hover{
    color: nth($colors, 3);
  }
}

footer {
  padding: 40px;
}

///////////////////////////////////// NAV /////////////////////////////////////
nav.content {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20pt;
  margin-bottom: 30px;
}

nav .link {
  display: block;
  margin: 20px 20px 0 20px;
  &:after {
    bottom: -5px;
    height: 5px;
  }
  @media screen and (min-width: $break-small) {
    display: inline-block;
  }
}

.divider {
  display: none;
  margin-top: 18px;
  @media screen and (min-width: $break-small) {
    display: inline-block;
  }
}

@for $i from 1 through length($colors) {
  .link-#{$i}:after {
    background-color: nth($colors, $i);
  }
}

///////////////////////////////////// BIO /////////////////////////////////////

.section {
  display: inline-block;
  vertical-align: top;
  img {
    width: 100%;
  }
  .link {
    &:after {
      bottom: -2px;
      height: 2px;
    }
  }
}

.span-2 {
  @media screen and (min-width: $break-medium) {
    width: 50%;
  }
}

.span-1 {
  @media screen and (min-width: $break-small) {
    width: 50%;
  }
  @media screen and (min-width: $break-medium) {
    width: 25%;
  }
}

.subsection {
  padding: 20px;
}

.social-icon-container {
  padding-bottom: -20px;
}

.title {
  margin-bottom: 20px;
  color: nth($colors, 1);
}

.text:not(:last-child) {
  margin-bottom: 20px;
}

.list-link {
  color: nth($colors, 2);
  &:hover{
    color: nth($colors, 3);
  }
}


///////////////////////////////////// CARDS /////////////////////////////////////
.card-container {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
  margin: -20px;
}

.card {
  border: 5px black solid;
  width: 300px;
  height: 425px; // change to min-height?
  transition: $animate;
}

.card-wrapper {
  margin: 20px;
  transition: $animate;
  &:hover {
    margin-top: 10px;
    transition: $animate;
  }

}

@for $i from 1 through length($colors) {
  .card-#{$i} {
    box-shadow: 5px 5px 0px 0px nth($colors, $i);
    .card-tag {
      color: nth($colors, $i);
      border: 2px nth($colors, $i) solid;
    }
    &:hover {
      box-shadow: 15px 15px 0px 0px nth($colors, $i);
    }
  }
}

.card-image {
  width: 100%;
  object-fit: cover;
  height: 180px;
  border-bottom: 5px black solid;
}

.card-body {
  padding: 10px 20px;  
}

.card-title {
  font-weight: 700;
  font-size: 14pt;
}

.card-text {
  font-weight: 500;
  font-size: 11pt;
  margin: 10px 0;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
}

.card-tag {
  color: black;
  padding: 3px 10px;
  border: 2px black solid;
  font-size: 10pt;
  margin-right: 5px;
  margin-bottom: 10px;
}
