///////////////////////////////////// VARS /////////////////////////////////////
$colors: #035aa6, #00909e, #40bad5, #fcbf1e;

$break-xsmall: 320px;
$break-small: 768px;
$break-medium: 1200px;
$break-large: 1400px;
$break-xlarge: 2048px;

$animate: all 0.1s ease-in-out;

///////////////////////////////////// GENERAL /////////////////////////////////////
* {
  font-family: Roboto Mono, Sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  max-width: $break-large;
  margin: 0 auto;
}

///////////////////////////////////// NAV /////////////////////////////////////
nav.content {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20pt;
  margin-bottom: 30px;
}

.link {
  margin: 20px;
  transition: $animate;
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 5px;
    transition: $animate;
    left: 0;
  }
  &:hover {
    &:before,
    &:after {
      width: 100%;
    }
  }
}

@for $i from 1 through length($colors) {
  .link-#{$i}:after {
    background-color: nth($colors, $i);
  }
}

///////////////////////////////////// BIO /////////////////////////////////////

.bio-section {
  display: inline-block;
  vertical-align: top;
}

.details {
  @media screen and (min-width: $break-medium) {
    width: 50%;
  }
}

.lists {
  @media screen and (min-width: $break-small) {
    width: 50%;
  }
  @media screen and (min-width: $break-medium) {
    width: 25%;
  }
}

.photos {
  @media screen and (min-width: $break-small) {
    width: 50%;
  }
  @media screen and (min-width: $break-medium) {
    width: 25%;
  }
  img {
    width: 100%;
  }
}

.bio-subsection {
  padding: 20px;
}

.bio-title {
  margin-bottom: 20px;
  color: nth($colors, 1);
}

.bio-text {
  margin-bottom: 20px;
}

///////////////////////////////////// CARDS /////////////////////////////////////
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -20px;
}

.card {
  border: 5px black solid;
  margin: 20px;
  width: 300px;
  height: 425px;
  transition: $animate;
  @media screen and (max-width: $break-xsmall) {
    width: 90%;
  }
  &:hover {
    margin-top: -2px;
    transition: $animate;
  }
}

@for $i from 1 through length($colors) {
  .card-#{$i} {
    box-shadow: 5px 5px 0px 0px nth($colors, $i);
    .card-tag {
      color: nth($colors, $i);
      border: 2px nth($colors, $i) solid;
    }
    &:hover {
      box-shadow: 15px 15px 0px 0px nth($colors, $i);
    }
  }
}

.card-image {
  width: 100%;
  max-height: 200px;
  border-bottom: 5px black solid;
}

.card-body {
  padding: 10px 20px;  
}

.card-title {
  font-weight: 700;
  font-size: 14pt;
}

.card-text {
  font-weight: 500;
  font-size: 11pt;
  margin: 10px 0;
}

.card-tag {
  color: black;
  padding: 3px 10px;
  border: 2px black solid;
  font-size: 10pt;
  margin-right: 5px;
}
